.list{
    margin-left: 15%;
    margin-right: 15%;
}

.tombolAdd{
    margin: 5px;
    padding: 2px;
}

.tombolDelete{
    font-size: 10px;
}

.searchBar{
    width: 70%;
    margin-left: 15%;
}

.username{
    margin-left: 5%;
}