.title{
    width: 60%;
    margin: auto;
}

.cari{
    text-align: center;
}

.userAvatar{
    margin-left: auto;
    margin-right: auto;
}

.info{
    text-align: center;
}

.cardContainer{
    width: 60%;
    margin: auto;
}